.product-container{
    margin-top: 1rem;
    display: flex;    
    flex-wrap: wrap; 
    align-items: center;
    justify-content: center; 
}

.product-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; 
}

.containerTitle{
    font-size: 2rem;
}